.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    row-gap: 30%;
    justify-items: center;
    align-items: center;
    margin-top: 2.3%;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: black;
    border: solid 5px black;
    padding: 15%;
    transition-duration: 0.5s;
    width: fit-content;
    text-align: center;
    background-color: white;
    height: 200px;
    width: 200px;

}

.card:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.card:active {
    transform: translateY(5px);
    transition-duration: 0.3s;
}

img {
    height: 100px;
}